[Unit]
Description=Monthly letsencrypt certificate renewal

[Timer]
Unit=certbot-renew.service
OnCalendar=monthly
Persistent=true

[Install]
WantedBy=timers.target
